root = true

[*.{cs,axaml}]
charset = utf-8
end_of_line = crlf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:warning
dotnet_diagnostic.CA1707.severity = none

[*.{yml,yaml,json,md,props,csproj,slnx}]
indent_style = space
indent_size = 2
